---
import Layout from "../layouts/Layout.astro";
import Title from "../components/MainTitle.astro";
import Section from "../components/Section.astro";
import Link from "../components/Link.astro";
import Subtitle from "../components/Subtitle.astro";
import Semibold from "../components/Semibold.astro";
---

<Layout title="Tomás Cichero">
  <Title>
    Tomás Cichero
    <div slot="subtitle">
      <p><Link href="mailto:martoxdlol@gmail.com">martoxdlol@gmail.com</Link></p>
      <p><Semibold>Buenos Aires, Argentina</Semibold> <Link href="tel:+5491125891334">+54 9 11 2589-1334</Link></p>
    </div>
  </Title>
  <main>
    <Section title="Portfolio">
      <Link href="https://tomas.ar">tomas.ar</Link>
      <span> -</span>
      <Link href="https://github.com/martoxdlol">github/Martoxdlol</Link>
    </Section>
    <Section title="Work experience">
      <Subtitle>
        <Semibold>Ford Argentina</Semibold> - Full IT System Admin
      </Subtitle>
      <p>Responsibilities</p>
      <ul>
        <li>Manage a 100+ computers network with on premise AD and Azure AD</li>
        <li>Develop in house fullstack services and deploy them</li>
        <li>Manage network setup (Routers, VLANS, etc...)</li>
        <li>Manage linux server with dockerized services</li>
      </ul>
    </Section>
    <Section title="Qualifications">
      <Semibold>Sysadmin</Semibold>
      <ul>
        <li>
          Docker, AD, LDAP, Linux, Postfix, Networking, PC Hardware, Nginx,
          Databses, Web apps deployment (and more).
        </li>
      </ul>
      <Semibold>Full Stack Web Development</Semibold>
      <ul>
        <li>
          Full stack apps with: React + Node + TS + Mongo + mongoose + SocketsIO
        </li>
        <li>
          Other full stacks technologies: NextJS, Astro.build, MySql, Prisma
          ORM, tRPC
        </li>
        <li>
          Firebase, Cloud Functions, Hosting, Firestore, web and mobile
          integration in Flutter
        </li>
        <li>Protocols: HTTP/S, Oauth and OpenID, APIs, raw TCP</li>
        <li>
          Frontend techs: JavaScript and TypeScript, React, HTML, CSS,
          MaterialUI, TailwindCSS
        </li>
        <li>Native dev: Electron, Flutter (in android and windows)</li>
        <li>
          Other languages: Dart, C, Python, SQL, Smalltalk, (a little of) PHP
        </li>
        <li>
          Git, GitHub, SSH, GCP (cloud functions, Compute Engine, Oauth,
          etc...), Docker, GitHub Actions, on-premise linux servers
        </li>
      </ul>
    </Section>
    <Section title="Education">
      <p>
        <Semibold>Electro Mechanical Technician</Semibold> - Henry Ford Technical
        School
      </p>
      <p>
        <Semibold>Computer Engineering</Semibold> - University of Buenos Aires
      </p>
    </Section>
    <Section title="References">
      <p>
        <Semibold>Milton Torasso</Semibold> - <Link
          a="https://www.linkedin.com/in/milton-torasso/"
        >
          linkedin.com/in/milton-torasso
        </Link>
      </p>
      <p>
        <Semibold>Ignacio Wörn</Semibold> - <Link
          a="https://www.linkedin.com/in/ignaworn/"
        >
          linkedin.com/in/ignaworn
        </Link>
      </p>
      <p>
        <Semibold>Tomas Prudente</Semibold> - <Link
          a="https://www.linkedin.com/in/tomas-prudente/"
        >
          linkedin.com/in/tomas-prudente
        </Link>
      </p>
      <p>
        <Semibold>Julian Weber</Semibold> - <Link
          a="https://www.linkedin.com/in/jweber018/"
        >
          linkedin.com/in/jweber018
        </Link>
      </p>
    </Section>
  </main>
</Layout>

<style>
  main {
    max-width: 700px;
    margin: auto;
    padding: 20px;
  }

  ul {
    padding-left: 26px;
    list-style-type: disc;
    margin-bottom: 5px;
  }

  ul li {
    padding: 2px 0;
    font-size: 13px;
  }
</style>
