---
import Layout from "../layouts/Layout.astro";
import Title from "../components/MainTitle.astro";
import Section from "../components/Section.astro";
import Link from "../components/Link.astro";
import Subtitle from "../components/Subtitle.astro";
import Semibold from "../components/Semibold.astro";
import PDFButton from "../components/PDFButton.astro";
---

<Layout title="Tomás Cichero">
  <Title>
    Tomás Cichero
    <div slot="subtitle">
      <p>
        <Link href="mailto:martoxdlol@gmail.com">tomascichero@gmail.com</Link>
        <Link href="https://www.linkedin.com/in/tomas-cichero">
          in/tomas-cichero
        </Link>
      </p>
      <p>
        <Semibold>Buenos Aires, Argentina</Semibold>
        <Link href="tel:+5491125891334">+54 9 11 2589-1334</Link>
      </p>
    </div>
  </Title>
  <main>
    <PDFButton />
    <Section title="Portfolio">
      <p>
        Projects and other things<Link href="https://github.com/martoxdlol">
          github/Martoxdlol
        </Link>
      </p>
    </Section>
    <Section title="Work experience">
      <Subtitle>
        <Semibold>Ford Argentina</Semibold> - Full IT System Admin (march 2021 -
        march 2024)
      </Subtitle>
      <p>Responsibilities</p>
      <ul>
        <li>
          Manage a 100+ computers network with on premise AD and Azure AD.
        </li>
        <li>Develop in-house simple full stack services and deploy them.</li>
        <li>Manage network setup (Routers, VLANS, etc...).</li>
        <li>Manage Linux server with dockerized services.</li>
      </ul>
      <Subtitle>
        <Semibold>I AN TECH</Semibold> - Freelance Developer (june 2023 - march 2024)
      </Subtitle>
      Design and build web software solutions for clients.
      <Subtitle>
        <Semibold>Kiwibot</Semibold> - Freelance Developer (march 2024 - present)
      </Subtitle>
      Full stack web engineering, backend, frontend, system design, apis, auth, deployment,
      etc...
    </Section>
    <Section title="Qualifications">
      <Semibold>Sysadmin</Semibold>
      <ul>
        <li>
          Docker, AD, LDAP, Linux, Postfix, Networking, PC Hardware, Nginx,
          Databases, Web apps deployment (and more).
        </li>
      </ul>
      <Semibold>Full Stack Web Development</Semibold>
      <ul>
        <li>
          Designing, building, coding and deploying full stack web apps with
          different sets of languages and technologies.
        </li>
        <li>
          JavaScript and TypeScript, HTML, CSS, Node, React, Preact, WebSockets,
          Webpack.
        </li>
        <li>
          NextJS, Astro.build, MySql, Prisma ORM, Drizzle ORM, tRPC, Express,
          MUI, TailwindCSS, shadcn-ui, Vercel
        </li>
        <li>
          Firebase, Cloud Functions, Cloud Messaging, Hosting, Firestore, web
          and mobile integration in Flutter
        </li>
        <li>Protocols: HTTP/S, Oauth and OpenID, APIs, raw TCP</li>
        <li>
          Other languages: Dart, C, Python, SQL, Smalltalk, (a little of) PHP
        </li>
        <li>
          Git, GitHub, SSH, GCP (cloud functions, Compute Engine, Oauth,
          etc...), Docker, GitHub Actions, on-premise linux servers
        </li>
      </ul>
      <Semibold>Other stuff</Semibold>
      <ul>
        <li>
          Native and mobile apps: Electron, Flutter (in android and windows, I
          have published apps in both platforms). <b>React Native</b> (not a lot
          of experience yet).
        </li>
        <li>Arduino and other embedded devices</li>
        <li>Rust (not expert but much more than a hello world)</li>
      </ul>
    </Section>
    <Section title="Formal Education">
      <p>
        <Semibold>Electromechanical Technician</Semibold> - Henry Ford Technical
        School
      </p>
      <p>
        <Semibold>Computer Engineering</Semibold> - University of Buenos Aires (in
        progress)
      </p>
    </Section>
    <Section title="References">
      <p>
        <Semibold>Milton Torasso</Semibold> - <Link
          href="https://www.linkedin.com/in/milton-torasso/"
        >
          linkedin.com/in/milton-torasso
        </Link>
      </p>
      <p>
        <Semibold>Manuel Bracchi-</Semibold> - <Link
          href="https://www.linkedin.com/in/manuel-bracchi-183297156/"
        >
          linkedin.com/in/manuel-bracchi-183297156
        </Link>
      </p>
      <p>
        <Semibold>Ignacio Wörn</Semibold> - <Link
          href="https://www.linkedin.com/in/ignaworn/"
        >
          linkedin.com/in/ignaworn
        </Link>
      </p>
      <p>
        <Semibold>Tomas Prudente</Semibold> - <Link
          href="https://www.linkedin.com/in/tomas-prudente/"
        >
          linkedin.com/in/tomas-prudente
        </Link>
      </p>
      <p>
        <Semibold>Julian Weber</Semibold> - <Link
          href="https://www.linkedin.com/in/jweber018/"
        >
          linkedin.com/in/jweber018
        </Link>
      </p>
    </Section>
  </main>
</Layout>

<style>
  main {
    max-width: 730px;
    margin: auto;
    padding: 20px;
  }

  ul {
    padding-left: 26px;
    list-style-type: disc;
    margin-bottom: 5px;
  }

  ul li {
    padding: 2px 0;
    font-size: 13px;
  }
</style>
