---
import Layout from "../layouts/Layout.astro";
import Title from "../components/MainTitle.astro";
import Section from "../components/Section.astro";
import Link from "../components/Link.astro";
import Subtitle from "../components/Subtitle.astro";
import Semibold from "../components/Semibold.astro";
import PDFButton from "../components/PDFButton.astro";
---

<Layout title="Tomás Cichero">
  <Title>
    Tomás Cichero
    <div slot="subtitle">
      <p>
        <Link href="mailto:martoxdlol@gmail.com">tomascichero@gmail.com</Link>
        <Link href="https://www.linkedin.com/in/tomas-cichero">
          in/tomas-cichero
        </Link>
      </p>
      <p>
        <Semibold>Buenos Aires, Argentina</Semibold>
        <Link href="tel:+5491125891334">+54 9 11 2589-1334</Link>
      </p>
    </div>
  </Title>
  <main>
    <PDFButton />
    <Section title="Portfolio">
      <p>
        Projects and other things<Link href="https://github.com/martoxdlol">
          github/Martoxdlol
        </Link>
      </p>
    </Section>
    <Section title="Work Experience">
      <Subtitle>
        <Semibold>Ford Argentina</Semibold> - Full IT System Admin (Mar 2021 - Mar 2024)
      </Subtitle>
      <p>Managed a 100+ computers network, developed in-house services, and handled network setup and Linux servers.</p>
      <Subtitle>
        <Semibold>I AN TECH</Semibold> - Freelance Developer (Jun 2023 - Mar 2024)
      </Subtitle>
      <p>Designed and built web software solutions for clients.</p>
      <Subtitle>
        <Semibold>Kiwibot</Semibold> - Freelance Developer (Mar 2024 - Present)
      </Subtitle>
      <p>Full stack web engineering, backend, frontend, realtime, system design, APIs, auth, ci/cd, deployment, etc.</p>
    </Section>
    <Section title="Qualifications">
      <Semibold>Software Engineering</Semibold>
      <ul>
        <li>JavaScript, TypeScript, Node.js, React, Preact, WebSockets, Webpack, Vite.</li>
        <li>Next.js, Astro.build, Postgres, Prisma ORM, Drizzle ORM, tRPC, Express, MUI, TailwindCSS, shadcn-ui, Vercel.</li>
        <li>Firebase, Cloud Functions, Cloud Messaging, Hosting, Firestore, web and mobile integration in Flutter.</li>
        <li>Protocols: HTTP/S, OAuth, OpenID, APIs, raw TCP.</li>
        <li>Other languages: Dart, Python, SQL, Smalltalk, PHP.</li>
        <li>Git, GitHub, SSH, Cloud, Linux, Vercel, Fly.io, CI/CD pipelines (GH Actions).</li>
      </ul>
      <Semibold>Operating Systems</Semibold>
      <ul>
        <li>Linux (including kernel knowledge), Windows, macOS.</li>
      </ul>
      <Semibold>Development Tools</Semibold>
      <ul>
        <li>Webpack, Vite, npm, yarn, pnpm.</li>
      </ul>
      <Semibold>Programming Languages</Semibold>
      <ul>
        <li>C, Rust.</li>
      </ul>
    </Section>
    <Section title="Formal Education">
      <p>
        <Semibold>Electromechanical Technician</Semibold> - Henry Ford Technical School
      </p>
      <p>
        <Semibold>Computer Engineering</Semibold> - University of Buenos Aires (in progress)
      </p>
    </Section>
    <Section title="References">
      <p>
        <Semibold>Milton Torasso</Semibold> - <Link href="https://www.linkedin.com/in/milton-torasso/">linkedin.com/in/milton-torasso</Link>
      </p>
      <p>
        <Semibold>Manuel Bracchi</Semibold> - <Link href="https://www.linkedin.com/in/manuel-bracchi-183297156/">linkedin.com/in/manuel-bracchi-183297156</Link>
      </p>
    </Section>
  </main>
</Layout>

<style>
  main {
    max-width: 730px;
    margin: auto;
    padding: 20px;
  }

  ul {
    padding-left: 26px;
    list-style-type: disc;
    margin-bottom: 5px;
  }

  ul li {
    padding: 2px 0;
    font-size: 13px;
  }
</style>